---
title: Asheville Morris
caption: Traditional English Country Dancing in Asheville, NC
hero: "img/Folkmoot23-Group_crop.webp"
---
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
<title>{{ title }}</title>

</head>
<body>
    <main>
        
        <header>
            <a href="/">Home</a>
            <br>
            <h2>{{ caption }}</h2>
            <img src="{{ hero }}">
        </header>    
        <article>
            {{ content }}
        </article>
        <footer>
        To contact us:
        <br>
        juiceofbarley@hotmail.com
        <br>
        828-545-5510
        </footer>
    </main>

</body>
</html>