---
title: Asheville Morris Dancers
caption: Asheville Morris Dancers
hero: "../img/AshevilleMorrisLittleSwitzerlandCafe_crop.webp"
icon: "img/Icon_Morris.webp"
layout: teams
tags: teams
descrip: Morris dancing is an English folk tradition. As far back as the 16th century, paintings, carvings, and the writings of Shakespeare included Morris dancers and their musicians, Fool, and Hobby Horse. Morris dancers celebrate the changing seasons and perform for enjoyment. 
---

{% for item in pictures.morris %}
    {% if item.type == "img" %}
        <img class="gal" src="../img/{{ item.value }}">
    {% elseif item.type == "txt" %}
        <article>
            {% for text in item.value %}
                <p>{{ text }}</p>
            {% endfor %}
        </article>
    {% elseif item.type == "vid" %}
         <iframe width="{{ item.width }}" height="{{ item.height }}"
        src="{{ item.value }}">
        </iframe>         
    {% endif %}
{% endfor %}