body {
    background-color: rgb(166, 178, 202);
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
}

main {
    width: clamp(200px, 98%, 1200px);
    margin: 0 auto;
    display: block;
    background-color: aliceblue;
    border: 10px solid white;
}

nav {
    background-color: rgba(166, 178, 202, 0.8);
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav a,
a:hover,
a:active,
a:visited {
    color: black;

}

header {
    position: relative; 
    max-width: 1200px;  
    margin: 0 auto;     
    width: 100%;
}

header img {
    width: 100%;        
    height: auto;       
    display: block;     
}

.hero-text {
    position: absolute; 
    top: 0;
    left: 50%;          
    transform: translate(-50%, 0); 
    text-align: center; 
    width: 100%;         
    color: white;
    background-color: rgba(166, 178, 202, 0.3);
    font-size: 2.0rem;
    font-weight: bold;
    text-shadow: 0 0 6px black;    
}

h2.galleries {
    margin: 20px auto;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;    
}

div.cards {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

article {
    flex: 0 0 350px; /* flex-grow: 1, flex-shrink: 0, flex-basis: 300px */
    box-sizing: border-box;
    position: relative;
    margin:auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px #ccc;
    background-color: white;
    color: black;
}

/* Stretches the anchor link over the entire card */
.card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  z-index: 1; /* Ensures the link is above other content for clicking */
}

article a {
    text-decoration: none;
}

article h2 {
    text-decoration: underline;
}

div.cards article:hover {
    background-color: rgb(232, 209, 158);
    transform: translateY(3px);
    box-shadow: 1px 1px #ccc;
}

footer {
    display: block;
    clear: both;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 5px 5px #ccc;
    background-color: white;
    margin: 5px;
    padding: 2%;
    font-size: 1.6rem;
    font-weight: bold;
}

article,
iframe,
img.gal {
    margin: 25px;
    max-width: 85%;
}