---
title: Asheville Morris
layout: main
---
<link rel="stylesheet" href="bundle.css">

<h2 class="galleries">Photo Galleries</h2>
<div class="cards">
{% for team in collections.teams %}
    <a href="{{ team.url }}">
    <article>
    <h2>{{ team.data.title }}</h2>
    <img src="{{ team.data.icon }}">
    <div>{{ team.data.descrip}}</div>
    </article>
    </a>
{% endfor %}
</div>
